<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Add Internet permission for Firebase -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinTrack"
        tools:targetApi="31">
        <activity
            android:name=".ManageCategoriesActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity"
            android:theme="@style/Theme.FinTrack" />
        <activity
            android:name=".activity_manage_categories_simple"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".EditAccountActivity"
            android:exported="false" />
        <activity
            android:name=".EditTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".PinLockActivity"
            android:exported="false" />
        <activity
            android:name=".AddTransactionActivity"
            android:exported="false" />
        <activity
            android:name=".ManageAccountsActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" /> <!-- Splash Activity is now the launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.FinTrack.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other Activities -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.FinTrack.NoActionBar" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:theme="@style/Theme.FinTrack.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
    </application>

</manifest>